version: 2.1

orbs:
  ruby: circleci/ruby@1.0
  node: circleci/node@2

jobs:
  test:
    parallelism: 3
    docker:
      - image: circleci/ruby:2.6.6-node-browsers
      - image: circleci/postgres:9.5-alpine
        environment:
          POSTGRES_USER: test-pguser
          POSTGRES_DB: sample-test
          POSTGRES_PASSWORD: ""
    environment:
      BUNDLE_JOBS: "3"
      BUNDLE_RETRY: "3"
      PGHOST: 127.0.0.1
      PGUSER: test-pguser
      PGPASSWORD: ""
      RAILS_ENV: test
    steps:
      - checkout
      - ruby/install-deps
      - node/install-packages:
          pkg-manager: yarn
          cache-key: "yarn.lock"
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Database setup
          command: bundle exec rails db:schema:load --trace
      - ruby/rspec-test # Run rspec in parallel

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
