<section class="about">
  <article class="about__article">
    <h3 class="about__article__title">We are Minimalist</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat mattis augue, vitae consectetur felis varius nec. Nam lobortis semper volutpat.
    </p>
    <p>
     Suspendisse libero metus, commodo et nisl ac, lobortis fringilla quam.
    </p>
  </article>
  <picture><%= image_tag "about-image.jpg" %></picture>
</section>
