<section class="about">
  <article class="about__article">
    <h3 class="about__article__title">About AppMap</h2>
    <p>
      AppMap is an open source company that helps developers and their organizations keep their software aligned, clear and secure through software design observability and runtime code analysis. We believe code is the source of truth. No matter how large or complicated the codebase, getting the information developers need should be easy and efficient.
    </p>
  </article>
  <picture><%= image_tag "about-image.jpg" %></picture>
</section>
