<section class="banner">
  <div class="banner__container">
    <div class="heading">
      <h3 class="banner__title">Reusable Water Bottles</h3>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <%= link_to t('shop_now'), "t/categories/water-bottles", class: "button button-secondary" %>
    </div>
    <%= image_tag "water-bottles-banner.png" %>
  </div>
</section>
