<section class="categories-grid">
  <article class="categories-grid__article">
    <a class="categories-grid__link" href="t/categories/clothing">
      <h3 class="categories-grid__title">Clothing</h3>
      <button type="submit" class="button button-tertiary"><%= t('shop_now') %></button>
    </a>
  </article>
  <article class="categories-grid__article">
    <a class="categories-grid__link" href="t/categories/bags">
      <h3 class="categories-grid__title">Bags</h3>
      <button type="submit" class="button button-tertiary"><%= t('shop_now') %></button>
    </a>
  </article>
</section>
