<section class="featured-category">
  <div class="featured-category__container">
    <h3 class="featured-category__title">Limited collection</h3>
    <%= link_to t('shop_now'), "t/categories/caps", class: "button button-tertiary" %>
  </div>
</section>
