<section class="intro">
  <div class="intro__container">
    <ul class="intro-icons">
      <li><%= image_tag "icon-leaf.svg" %></li>
      <li><%= image_tag "icon-globe.svg" %></li>
      <li><%= image_tag "icon-reload.svg" %></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</section>

