<section class="welcome-grid">
  <article class="welcome-grid__article">
    <h2>Welcome to our Store</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat mattis augue, vitae consectetur felis varius nec. Nam lobortis semper volutpat. Suspendisse libero metus, commodo et nisl ac, lobortis fringilla quam.
    </p>
  </article>
  <picture><%= image_tag "image-home_02.jpg" %></picture>
  
  <article class="welcome-grid__article">
    <p>
      Curabitur molestie, felis et finibus rutrum, est tellus pellentesque libero, id scelerisque enim ante eu justo.
    </p>
  </article>
  <picture><%= image_tag "image-home_01.jpg" %></picture>
</section>
