@import "../variables";

// General
.button {
  text-decoration:none;
  display: inline-block;
  transition: all .3 ease;
}

.button-secondary {
  background: $color-dark;
  color: $color-white;

  &:hover,
  &:focus {
    background: $color-white;
    color: $color-dark;
  }
}

.button-tertiary {
  background: transparent;
  color: $color-white;
  border: 1px solid $color-white;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;

  &:hover,
  &:focus {
    background: $color-white;
    color: $color-dark;
  }
}

// Top bar stuff
.top-bar__search {
  @media (min-width: 900px) {
    flex: 0 1 auto;
  }
}

.search-bar {
  border: 0;

  &__input {
    border-bottom: 1px solid #d8d8dd;
    padding: 0 1rem;
  }

  &__button {
    border-left: 0;
    background: transparent;
    padding: 0 2rem 0 1rem;
  }
}

.cart-link {
  padding: 5px;
}

.cart-info {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: asset_data_url("icon-shopping-cart.svg") no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  position: relative;

  .link-text {
    color: $color-white;
    background: $color-blue;
    font-weight: $font-weight-bold;
    border-radius: 50px;
    font-size: $font-size-base / 1.2;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

// Intro stuff
.intro {
  max-width: 90rem;
  padding: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  &__container {
    padding: 6rem 1rem;

    p {
      font-size: 1.8rem;
      font-size: clamp(1.8rem, 3vw, 3rem);
    }
  }

  .intro-icons {
    list-style: none;

    li {
      display: inline-block;
      padding: 2rem;
    }
  }
}


// Hero stuff

.hero {
  background: asset_data_url("hero-bg.jpg") no-repeat;
  background-size: cover;

  &-title {
    font-size: 4rem;
    font-size: clamp(4rem, 6vw, 8rem);
    color: $color-dark;
    text-decoration: underline;
    text-decoration-color: $color-white;
    text-decoration-thickness: 5rem;
    text-underline-offset: -7rem;
    position: relative;
    text-decoration-skip-ink: none;
  }

  .subtitle {
    font-size: 2rem;
    margin-top: .5rem;
    color: $color-dark;
  }

  .button-secondary {
    margin-top: 4rem;
    font-size: 26px;
    padding: 1.5rem 3.5rem;
    text-transform: uppercase;
  }
}

.hero__container {
  max-width: 100%;
  padding: 15rem 1rem;
  text-align: center;
  flex-direction: column;
}

// Welcome stuff
.welcome-grid {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  max-width: 114rem;
  padding: 3rem;
  margin: 0 auto;

  @media(min-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 100px;

    .welcome-grid__article {
      align-self: center;

      &:last-of-type {
        order: 2;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

// Category - homepage
.categories-grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  max-width: 114rem;
  padding: 5rem;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  transition: all .4 ease-in-out;

  &__article {
    &:first-of-type {
      .categories-grid__link {
        background-image: asset_data_url("clothing-category.jpg");
      }
    }

    &:last-of-type {
      .categories-grid__link {
        background-image: asset_data_url("bag-category.jpg");
      }
    }
  }

  &__link {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;

    @media(min-width: 900px) {
      height: 500px;
    }

    &:hover {
      background-size: 110% auto;
    }
  }

  &__title {
    color: $color-white;
    font-size: 2rem;
    font-size: clamp(2rem, 2vw, 4rem);
    margin-bottom: 2.5rem;
  }
}

.featured-category {
  background: asset_data_url("featured-category.jpg") no-repeat;
  background-size: cover;
  margin: 5rem 0;

  &__title {
    color: $color-white;
    font-size: 4rem;
    font-size: clamp(4rem, 2vw, 6rem);
    margin-bottom: 3.5rem;
  }

  &__container {
    padding: 14rem 1rem;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.products-wrapper {
  padding: 2rem 0;
}

// Footer

.footer {
  text-align: left;

  .footer-content {
    max-width: 114rem;
    margin: 0 auto;
    grid-column-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom {
    border-top: 1px solid $color-gray-light;
    text-align: center;
    font-size: $font-size-base / 1.1;
    padding-top: 2rem;
    max-width: 114rem;
    margin: 0 auto;
  }

  .logo {
    justify-self: end;

    img {
      max-width: 110px;
    }
  }
}

.static-pages {
  &__list {
    list-style-type: none;
    margin: 0 0 3rem;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      margin: .5rem 0;
    }

    a {
      text-decoration: none;
    }
  }
}

// Product Grid

.products-grid {
  grid-column-gap: 3rem;

  @media(min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Product Card

.product-card {
  &_image {
    transition: all .3s ease;
  }

  &_header {
    text-align: left;
    margin-top: 1.5rem;

    h2 {
      font-weight: $font-weight-bold;
      font-size: 1.4rem;
      text-transform: none;
    }
  }

  &_price {
    font-size: 1.6rem;
    font-weight: $font-weight-normal;
    text-align: left;
    color: $color-dark;
  }

  &:hover {
    .product-card_image {
      transform: none;
      opacity: .6;
    }
  }
}

// PDP
.product-page {
  display: block;

  &-row {
    margin-bottom: 4rem;
  
    @media (min-width:900px) {
      display: flex;
      margin-bottom: 8rem;
    }
  }

  &__description {
    margin-bottom: 3rem;
  
    @media (min-width:900px) {
      padding-right: 4rem;
      width: 60%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &__details {
    margin-bottom: 3rem;

    @media (min-width:900px) {
      margin-top: 0;
      width: 40%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &__images {
    @media (min-width:900px) {
      display: flex;

      .product-image {
        order: 2;
      }
    }
  }
}

.product-thumbnails {
  overflow: initial;

  li {
    padding: 1rem .8rem;
    width: 60px;
    height: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @media (min-width:900px) {
    flex-direction: column;
    overflow: unset;
    align-items: center;
    padding-right: 2rem;

    li {
      padding: 0 0 1rem;
    }
  }
}

.product-description__title {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.product-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 3rem;
}

.product-taxons {
  padding-top: 2rem;
  border-top: 1px solid $color-gray-light;
  margin-top: 3rem;
}

.product-submit {
  button {
    width: 100%;
  }

  .horizontal-input-group__input {
    min-width: 26%;
    width: auto;
  }

  .horizontal-input-group__action {
    min-width: 70%;
  }
}

// Shopping Cart

.cart-items {
  &-header {
    display: none;

    @media (min-width: 900px) {
      align-items: center;
      display: flex;
      border-bottom: 1px solid $color-gray-light;
    }

    &__title {
      font-size: 1.3rem;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    & > * {
      flex-grow: 0;
      flex-shrink: 0;

      &:nth-child(2) {
        padding: 0 4rem 0 4rem;
      }

      &:nth-child(3),
      &:last-child {
        @media (min-width: 900px){
          padding: 0 4rem 0 0;
        }
      }

      &:first-child {
        @media (min-width: 900px){
          width: 55%;
        }
      }
    }
  }
}

.cart-item__quantity,
.cart-item__price,
.cart-item__remove {
  width: 8rem;
}

.cart-item__price-single,
.cart-item__price {
  @media (min-width: 900px) {
    padding: 0 4rem 0;
  }
}

.cart-item__remove {
  .delete {
    width: 26px;
    height: 26px;
    color: transparent;
    background: asset_data_url("icon-delete.svg") no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}

.cart-item__image img {
  max-width: 100%;
  height: auto;
}

.cart-footer {
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: 900px) {
    margin-top: 105px;
  }

  & > * {
    flex-grow: 1;
  }


  &__total {
    text-align: center;
    min-width: 286px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__primary-action {
    padding: 3rem 0 0 0;
    min-width: 286px;
  
    button {
      width: 100%;
    }
  }
}

.cart-page {
  @media (min-width: 900px) {
    padding-bottom: 18rem;
  }

  &__coupon-code {
    @media (min-width: 900px) {
      margin-top: 0;
      max-width: 286px;
    }
  }

  &__other-actions {
    align-items: center;

    @media (min-width: 900px) {
      background: #FBFAFA;
      padding: 2rem 1rem;
      display: flex;
      justify-content: space-between;
      margin-top: -230px;
    }
  }
}

.coupon-code__action {
  button {
    width: 100%;
  }
}

.cart-secondary-actions {
  margin-top: 0;
  margin-bottom: 2rem;

  @media (min-width: 900px) {
    margin-bottom: 0;
  }

  &__continue::before {
    content: '';
  }
}
