<div class="category-navigation">
  <div class="top-bar__search--mobile">
    <%= render partial: 'spree/components/search/search_bar' %>
  </div>
  <%= render partial: 'spree/components/navigation/categories' %>
</div>
