// Colors
$color-dark:            #24282F;
$color-white:           #FFFFFF;
$color-blue:            #3C76F0;
$color-blue-light:      #6391F3;
$color-green:           #66C789;
$color-green-light:     #90DFAD;
$color-gray-light:      #ECECEC;
$color-gray-lighter:    #FAFBFC;

// Typo
$font-size-base:        14px;
$font-weight-normal:    400;
$font-weight-bold:      600;

$font-color-base:       $color-dark;

$line-height-base:      1.5em;
$line-height-headings:  1.1em;

// Buttons
$button-font-weight:    600;

// Utilities
$spacer:                15px;

// Tour widget
$toggler-height:        50px;
$toggler-height-open:   28px;
$widget-inner-height:   90px;
$widget-body-height:    136px;
