// Colors
$color-dark:          #24282F;
$color-white:         #FFFFFF;
$color-blue:          #3C76F0;
$color-gray-light:    #ECECEC;
$color-gray-lighter:  #FAFBFC;

// Typo
$font-size-base:      14px;
$font-weight-normal:  400;
$font-weight-bold:    600;

$font-color-base:     $color-dark;

$line-height-base:    2rem; //1.125rem;

// Buttons
$button-font-weight:  600;

// Utilities
$spacer:              15px;

// Tour widget
$toggler-height:      50px;
$widget-inner-height: 88px;
$widget-body-height:  136px;
