// Colors
$color-dark: #24282f;
$color-white: #ffffff;
$color-blue: #3c76f0;
$color-blue-light: #6391f3;
$color-green: #66c789;
$color-green-light: #90dfad;
$color-gray: #f2f2f2;
$color-gray-light: #ececec;
$color-gray-lighter: #fafbfc;
$color-orange: #f97316;
$color-orange-light: #fffaef;
$color-orange-text: #c05621;

// Typo
$font-size-base: 14px;
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-color-base: $color-dark;

$line-height-base: 1.5em;
$line-height-headings: 1.1em;

// Buttons
$button-font-weight: 600;

// Utilities
$spacer: 15px;

// Tour widget
$toggler-height: 50px;
$toggler-height-open: 28px;
$widget-inner-height: 90px;
$widget-body-height: 136px;

// Notification banner
$notification-padding: 16px;
$notification-border: 1px solid $color-orange;
$notification-bp-smallest: 420px;
$notification-bp-small: 525px;
$notification-bp-medium: 862px;
