@import "variables";

@import "components/layout/body";
@import "components/layout/footer";
@import "components/layout/header";
@import "components/layout/top_bar";

@import "components/buttons/buttons";

@import "components/cart/cart_footer";
@import "components/cart/cart_item";
@import "components/cart/cart_link";
@import "components/cart/cart_page";
@import "components/cart/cart_secondary_actions";
@import "components/cart/cupon_code";

@import "components/presentation/about";
@import "components/presentation/banner";
@import "components/presentation/categories_grid";
@import "components/presentation/featured";
@import "components/presentation/hero";

@import "components/products/products";
@import "components/products/product_card";
@import "components/products/product_grid";
@import "components/products/product_info";
@import "components/products/product_page";
@import "components/products/product_submit";
@import "components/products/product_taxons";
@import "components/products/product_thumbnails";
@import "components/products/product_variants";

@import "components/navigation/categories";
@import "components/navigation/taxonomy";

@import "components/search/search_bar";

@import "components/notification/banner";

@import "general/utilities";
