.tour-widget .tour-body{
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  color:#fff;
}
.tour-widget{
  font-size: 10px;
  line-height: 1.15;
  background-color:#24282f;
}
.tour-inner{
  padding:5px;
}
.tour-text{
  padding-left:20px;
  font-size:small;
  height:60px;
  overflow-x:scroll;
}
.tour-title{
  font-size:20px;
}
.tour-button{
  float:right;
  margin:20px;
}
.tour-toggler-text{
  color:white;
}
.tour-widget.open .tour-body{
  height: 90px !important;
}
.tour-toggler{
  width:100%;
  padding:15px;
  cursor:pointer;
  background-color:#24282f;
  margin-bottom:10px;
}
.tour-toggler:hover .tour-toggler-box{
  border-color:gray;
  color:gray;
}
.tour-widget.open .tour-toggler-box{
  transform: rotate(135deg);
}
.tour-widget.open .tour-toggler-text{
  transform: rotate(180deg);
  color:transparent;
}
.tour-toggler-box{
  padding:10px;
  height:20px;
  width: 20px;
  border-bottom: white solid 2px;
  border-left: white solid 2px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-45deg);
  transition: 0.5s;
  color:white;
}
.tour-toggler-text{
  text-align:center;
  transition: 0.5s;
  color:white;
}
.tour-target{
  z-index: 9999999;
  background-color: white;
  position: relative;
  border-radius:5px;
}
.tour-widget.open .tour-whitebox{
  top: 152px;
  position: absolute;
  display: block;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  z-index: 999999;
}
body{
  position:relative;
}
.tour-button{
  padding:15px;
  text-decoration:none;
}
/* Keeps the admin styling in line with the tour */
/* The sidebar makes this difficult */
.admin-nav-hidden .admin-nav-header{
  width:52px !important;
}
.admin-nav-hidden .main-header{
  margin-left:0 !important;
}
.admin-nav.fits{
  z-index:9999999;
}
