#info-panel{
  display:none;
  position:fixed;
  margin-right:auto;
  margin-left:auto;
}
#panel-button{
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:99999;
  padding: 5px 10px;
  font-size: initial;
}
#panelModal .modal-title{
  font-size:17px;
  margin:0px;
}
#panelModal .modal-header{
  padding:13px;
}
#panelModal .modal-dialog{
  margin-top:23px;
}
#panelModal .close span{
  font-size:20px;
}
#panelModal .modal-body{
  font-size: 13px;
  padding: 13px;
  line-height: 19px;
}
#panelModal .modal-footer *{
  font-size:13px;
  line-height:19px;
  margin: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}
#panelModal .modal-footer{
  font-size:13px;
  padding: 0.75em;
}
