@import "../../variables";

.tour-widget {
  box-sizing: border-box;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $color-gray-lighter;
  padding-top: 58px;

  @media (max-width: $notification-bp-medium) {
    padding-top: 84px;
  }

  @media (max-width: $notification-bp-small) {
    padding-top: 62px;
  }

  @media (max-width: $notification-bp-smallest) {
    padding-top: 87px;
  }

  .tour-body {
    color: $font-color-base;
    height: 0;
    padding: 0;
    overflow: hidden;
    max-width: 1120px;
    margin: 0 auto;
    transition: height .4s ease;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &.open {
    .tour-body {
      height: $widget-body-height;
      padding: 12px 15px;
    }
    
    .tour-inner {
      opacity: 1;
    }
  }
}

.tour-inner {
  max-width: 600px;
  margin: 0 auto;
  order: 1;
  position: relative;
  opacity: 0;
  transition: opacity .5s ease;
  
  &:after {
    content: '';
    background: linear-gradient(-180deg, rgba(250,251,252,0) 0%, rgba(250,251,252,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
  }

}

.tour-text {
  height: $widget-inner-height;
  overflow-y: auto;
  padding-bottom: 15px;
  
  p {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

.tour-title,
.tour-text p {
  margin-top: 0;
  margin-bottom: 1.125rem;
}

.tour-title {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  color: $color-blue;
  line-height: $line-height-headings;
}

.tour-target {
  z-index: 9999999;
  background-color: $color-white;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 8px $color-white;
  
  &::after {
    content: '';
    position: absolute;
    box-shadow: 0 0 16px 0 rgba(60, 118, 240, .5);
    width: calc(100% + 18px);
    height: calc(100% + 18px);
    border: 1px solid $color-blue;
    top: -9px;
    left: -9px;
    border-radius: 12px;
  }
}

.tour-widget.open .tour-whitebox {
  top: $widget-body-height + $toggler-height-open;
  position: absolute;
  display: block;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  z-index: 999999;
}

.tour-body.start-wrapper {
  background: $color-gray-lighter;
  background: radial-gradient(circle, rgba(60, 118, 240, .2) 0%, rgba(251, 252, 252, 1) 83%);
  
  .admin & {
    background: $color-gray-lighter;
    background: radial-gradient(circle, rgba(102, 199, 137, .2) 0%, rgba(251, 252, 252, 1) 83%);
  }
}

// Green color for the Admin area
.admin {
  .tour-title {
    color: $color-green;
  }
  
  .tour-target {
    box-shadow: 0px 0px 0px 4px $color-white;
    border-radius: 5px;
    max-width: 1200px;
    margin: 0 auto;

    
    &::after {
      box-shadow: 0 0 16px 0 rgba(102, 199, 137, .5);
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border: 1px solid $color-green;
      top: -5px;
      left: -5px;
    }
    
    &#table-filter {
      box-shadow: 0px 0px 0px 8px $color-white;
      border-radius: 3px;
      
      &::after {
        box-shadow: 0 -3px 6px 0 rgba(102, 199, 137, .5);
        width: calc(100% + 18px);
        height: calc(100% + 18px);
        top: -9px;
        left: -9px;
        border-bottom: 0;
      }
    }
  }
}
